@import 'src/tokens';

.root {
  composes: container-bleed from global;
  position: sticky;
  top: 0;
  background: $light-alpha-100;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,.08);
  z-index: 999999;
}

.container {
  justify-content: center;
  display: flex;
  color: $brand-primary-100;
  padding: $space-vertical-m;

  @include screen(phone) {
    padding-left: 0;
    padding-right: 0;
    display: none;
  }
  @include screen(tabPortrait) {
    composes: container-narrow from global;
  }
}

.smallerContainer {
  align-items: center;
  display: flex;
  width: 100%;
  padding: $space-vertical-m;
  justify-content: space-between;
  background: $brand-secondary-100;

  @include screen(phone) {
    display: flex;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }
}

.menu {
  cursor: pointer;
  color: $brand-primary-90;
  margin: $space-inline-ll;
  transition: all .5s;

  @include screen(phone) {
    margin: $space-stack-m;
    border-bottom: 1px solid rgba(0,0,0,.12);
    width: 100%;
    padding: $space-vertical-sm;
  }

  &:hover {
    color: $brand-primary-200;
    transition: all .3s;
  }
}

.menuText {
  @include screen(phone) {
    font-size: 16px;
  }
}

.menuSmaller {
  composes: container-narrow from global;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.menuContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999999;
  box-shadow: 2px 0px 12px rgba(0,0,0,.20);
  padding: $space-inset-ml;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
  margin: $space-stack-ml;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.logo {
  width: 128px;
  margin: $space-stack-l;
  display: block;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.closeButton {
  width: 32px;
  height: 32px;
}

.smallMenuText {
  color: $brand-primary-100 !important;
  font-weight: $bold;
}
