@import 'src/tokens';

.root {
  flex-direction: column;
  padding-top: $space-xxl;
  padding-bottom: $space-xl;
  background: $brand-secondary-100;
}

.container {
  height: 560px;
  position: relative;
  composes: container from global;

  @include screen(phone) {
    height: 360px;
  }
}

.addressPhone {

  @include screen(phone) {
    width: 100%;
    display: static;
  }

  @include screen(tabPortrait) {
    display: none;
  }
}

.addressContainer {
  composes: container-narrow from global;
  z-index: 999;

  @include screen(phone) {
    // position: absolute;
    display: none;
  }

  @include screen(tabPortrait) {
    position: sticky;
    top: 72px;
    display: flex;
    justify-content: flex-end;
    padding: $space-vertical-l;
  }

}

.card {
  background: $brand-primary-100;
  @include screen(phone) {
    max-width: 100%;
    border-radius: 0px;
    padding: $space-inset-ml;
    border-radius: 0px;
  }

  @include screen(tabPortrait) {
    border-radius: 3px;
    padding: $space-inset-l;
    justify-self: flex-end;
    max-width: 33.333%;
  }
}

.title {
  color: $light-alpha-100;
  margin: $space-stack-ml;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.24px;
  @include screen(phone) {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }
}

.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $light-alpha-70;
  border-radius: 8px;

  @include screen(phone) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

}

.special {
  @include screen(phone) {
    composes: contianer-bleed from global;
  }
}
