@import 'src/tokens';

.root {
  padding: $space-squish-m;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 12px;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
}

.primary {
  composes: root;
  color: $brand-secondary-100;
  background-color: $brand-primary-100;
  transition: all .4s ease;
  // background-image: linear-gradient(180deg, transparent 95%, $brand-secondary-100 0);
  // background-repeat: no-repeat;
  // background-size: 0% 100%;

  &:hover {
    transition: all .24s ease;
    background-color: $brand-primary-100;
    // box-shadow: 0px 0px 0px 2px $brand-primary-80;
    box-shadow: 0px 12px 24px -10px $dark-alpha-30;
    outline: none;
    // background-size: 100% 100%;
  }
}

.secondary {
  composes: root;
  color: $brand-primary-100;
  background-color: $light-alpha-100;
  // background-image: linear-gradient(180deg, transparent 95%, $brand-secondary-100 0);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all .4s ease;

  &:hover {
    background-size: 100% 100%;
    color: $brand-primary-200;
    transition: all .24s ease;
    // box-shadow: 0px 0px 0px 2px $light-alpha-90;
    box-shadow: 0px 6px 6px $dark-alpha-10;
    // background-color: $brand-primary-200;
    outline: none;
  }
}

.tertiary {
  composes: root;
  color: $brand-primary-100;
  background-color: $brand-secondary-100;
  background-image: linear-gradient(180deg, transparent 95%, $brand-secondary-100 0);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all .4s ease;
  &:hover {
    transition: all .24s ease;
    box-shadow: 0px 4px 4px $brand-secondary-20;
    outline: none;
  }
}

.primary_full {
  composes: primary;
  width: 100%;
  text-align: center;
}

.large {
  padding: $space-squish-l;
}

.small {
  padding: $space-squish-sm;
}

.outline {
  composes: root;
  color: $brand-primary-80;
  border-color: $brand-primary-80;
  background-image: linear-gradient(180deg, transparent 95%, $brand-primary-100 0);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all .4s ease;
  background-color: transparent;

  &:hover {
    transition: all .24s ease;
    color: $brand-primary-100;
    border-color: $brand-primary-100;
    background-size: 100% 100%;
  }
}

.outline_full {
  composes: outline;
  width: 100%;
}
