@import 'src/tokens';

.root {
  margin: $space-stack-ll;
  display: flex;
  align-items: center;

  @include screen(phone) {
    align-items: flex-start;
  }

}

.narrow {
  composes: container-narrow from global;
}

.full {
  composes: container from global;
}

.bleed {
  composes: container-fluid from global;
}


.iconContainer {
  width: 56px;
  height: 56px;
  border-radius: 9999px;
  // background: $brand-primary-100;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $space-inline-l;

  @include screen(phone) {
    margin: $space-inline-m;
    width: 32px;
    height: 32px;
  }

}

.icon {
  font-size: 48px;
  line-height: 48px;
  color: $brand-tertiary-100;

  @include screen(phone) {
    font-size: 32px;
    line-height: 32px;
  }
}

.titleContainer {

}

.title {
  color: $brand-primary-100;

  @include screen(phone) {
    font-size: $heading-3;
    line-height: 36px;
  }
}

.subtitle {
  color: $dark-alpha-70;
  font-weight: 400;

  @include screen(phone) {
    font-size: 15px;
    line-height: 20px;
  }

}

