@import 'src/tokens';

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $light-alpha-70;
  box-shadow: 0px 16px 40px -12px rgba(0,0,0,.20);
  border-radius: 8px;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  @include screen(phone) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
